language: python
python:
  #- "2.6"
  #- "2.7"
  #- "3.3"
  - "3.4"
  #- "pypy"
before_install:
  - shippable_retry sudo apt-get update
  - shippable_retry sudo apt-get --reinstall install -qq language-pack-en language-pack-de
  - shippable_retry sudo apt-get install swig
  
before_script:
- mkdir -p shippable/testresults
- mkdir -p shippable/codecoverage

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then travis_retry pip install -r requirements-py26.txt; fi
  - shippable_retry pip install -r requirements.txt
  
script: 
#- python tests/test.py default
  - nosetests tests/unit/*/*.py --with-xunit --xunit-file=shippable/testresults/nosetests.xml
  - which python && coverage run --branch tests/unit/*/*.py
  - which python && coverage xml -o shippable/codecoverage/coverage.xml tests/unit/*/*.py

archive: true
parallelized_test : true
